@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Nunito+Sans:wght@400;600;700&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --dark: #000;
    --light: #fff;
    --grey: #ebedea;
}

html{
    font-size: 10px;
}

body{
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}

a{
    text-decoration: none;
    color: var(--dark);
}

li{
    list-style: none;
}

/* Navbar Section Styling */
.nav-bar{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
    z-index: 500;
    background: var(--light);
}

.shadow-nav{ /* toggle class after scrolling styling*/
    box-shadow: 0 10px 30px -10px rgb(0 0 0 / 70%);
}

.logo-name{
    font-size: 5rem;
    font-family: 'Birthstone', cursive;
}

.hamburger-nav{
    display: flex;
    justify-content: space-between;
    width: 68%;
}

.nav-links{
    display: flex;
}

.nav-links li{
    padding: 20px 15px;
}

.nav-links li a{
    padding: 10px;
    font-size: 1.75rem;
    font-weight: 600;
}

#nav-button{
    margin: 20px 15px;
    position: relative;
}

#nav-button a{
    font-size: 1.75rem;
    padding: 4px;
    font-weight: 600;
}

.nav-links li a:hover, #nav-button a:hover{
    color: rgba(0, 0, 0, 0.700);
}

.dropdown-form{ /* dropdown sign in form */
    display: none;
    position: absolute;
    width: 335px;
    left: -80%;
    background: var(--light);
    box-shadow: 5px 30px 13px #0000000d;
    font-size: 1.75rem;
    padding: 20px;
    font-weight: 600;
}

#nav-button:hover .dropdown-form{
    display: block;
}

.form-input{
    padding: 20px 5px;
}

.form-input input{
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1.75rem;
    border-bottom: 1px solid var(--dark);
}

input[type = "text"], input[type = "password"]{
    width: 180px;
}

input[type = "submit"]{
    border: none;
    float: right;
    cursor: pointer;
    background: var(--dark);
    color: var(--light);
    border-radius: 40px;
    padding: 4px 8px;
}

input[type = "submit"]:hover{
    background: rgba(0, 0, 0, 0.700);
}

#nav-button .form-text a{
    font-size: 1.4rem;
    color: rgb(20, 42, 168);
}

#nav-button .form-text a:hover{
    text-decoration: underline;
}

.signup-section{
    font-size: 1.4rem;
    text-align: center;
    margin: 20px 5px;
}
    
.ham-burger{ /* hamburger icon for mobile phones*/
    display: none;
    margin-right: 8vw;
    cursor: pointer;
}

.ham-burger div{
    width: 25px;
    height: 3px;
    background-color: var(--dark);
    margin: 5px;
    transition: all 0.5s ease;
}

.sub-menu{
    display: none;
    position: absolute;
    background: var(--light );
    width: 160px;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}

.hover-sub:hover .sub-menu{
    display: block;
}

/* Main section styling */
#main-container{
    position: relative;
    height: 800px;
}

#carousel{
    position: relative;
    height: 630px;
    width: 90%;
    top: 80px;
    margin: 0 auto;
}

.carousel-container{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel-item{
    position: relative;
    height: 100%;
    transition: transform 750ms ease-in;
}

.carousel-slide{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

.carousel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-slide-text{
    position: absolute;
    top: 25%;
    right: 5%;
    font-size: 4rem;
    text-align: center;
}

.carousel-slide2-text{
    left: 6%;
    width: fit-content;
}

.carousel-slide-text h2{
    margin-bottom: 10px;
}

.carousel-slide-text a{
    background: var(--dark);
    color: var(--light);
    padding: 8px 13px;
    font-size: 2rem;
}

.carousel-slide-text a:hover{
    background: #000000d8;
}

.carousel-btn{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    background: transparent;
    border: 0px;
    cursor: pointer;
}

.carousel-btn-left{
    left: 0px;
    z-index: 1;
}

.carousel-btn-right{
    right: 0px;
}

.carousel-btn img{
    width: 40px;
}

.carousel-nav{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
}

.carousel-indicator{
    border: 0;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: #00000042;
    margin: 5px;
    cursor: pointer;
}

.current-indicator{
    background: #000;
}

.is-hidden{
    display: none;
}

/* store section styling */
#store-container{
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.store-item{
   margin: 10px 30px;
   position: relative;
   width: 40vw;
}

.store-image{
    height: 400px;
    width: 40vw;
    object-fit: cover;
    opacity: 0.6;
}

.store-detail{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0%;
    left: 0%;
    background: #000000c2;
    color: var(--light);
}

.store-detail h2{
    font-size: 4.3rem;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1;
}

.store-detail button{
    background: transparent;
    border: 0;
    color: var(--light);
    border-bottom: 2px solid var(--light);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    margin: 15px;
}

.store-detail button:hover{
    background: var(--light);
    color: var(--dark);
    padding: 5px 7px;
    transition: .3s ease-in-out ;
}

/* feature section styling */
.feature-section{
    margin: 7vh 0;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.feature-section h1{
    font-size: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    margin: 10px 0px 25px 0px;
}

.feature-section-container{
    display: flex;
    justify-content: center;
}

.feature-container-item{
    position: relative;
    margin: 30px 20px 0px 20px;
}

.item-img{
    height: 350px;
    width: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.pop-up{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    opacity: 0;
    text-align: right;
    padding: 7px;
    transition: 0.5s;
}

.pop-up:hover{
    opacity: 1;
}

.feature-container-item h2{
    font-size: 2rem;
}

.feature-container-item p{
    font-size: 1.4rem;
}

.feature-handicraft{
    background: var(--grey);
}

.feature-localstore-item-detail{
    position: absolute;
    height: 96.5%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light);
    background: #000000c2;
}

.feature-localstore-item-detail h2{
    font-size: 2.5rem;
}

.feature-localstore-item-detail a{
    color: var(--dark);
    background: var(--light);
    padding: 7px 12px;
    font-size: 1.5rem;
    margin-top: 5px;
    font-weight: 600;
}

.feature-localstore-item-detail a:hover{
    color: var(--light);
    background: var(--dark);
    border: 2px solid var(--light);
}


/* order related section styling */
.order-related{
    display: flex;
    justify-content: center;
    margin: 5vh 0;
}

.order-related-container{
    height: 200px;
    width: 300px;
    background: var(--grey);
    margin: 10px;
    text-align: center;
}

.order-related-container img{
    height: 40%;
    width: 40%;
    object-fit: contain;
    filter: invert(30%);
    margin: 5% 0;
}

.order-related-container h2{
    font-size: 2.5rem;
    font-weight: 800;
}

.order-related-container p{
    font-size: 1.5rem;
}

.o-r-container1{
    background: #93dcf8d1;
}

.o-r-container2{
    background: #56baee;
}

.o-r-container3{
    background: #9c70ecab;
}


/* footer section styling */
.footer-container{
    background: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.footer-section .logo-name{
    font-size: 5rem;
}

.footer-section a{
    color: var(--light);
    font-size: 1.5rem;
    padding: 5px;
}

.footer-section a img{
    filter: invert(100%);
}

.footer-section h1, .footer-section p{
    color: var(--light);
    margin-bottom: 10px;
}

.footer-section p{
    font-size: 1.5rem;
    margin-top: 10px;
}

.newsletter-section{
    width: 365px;
}

.newsletter-emai{
    border: 2px solid var(--light);
    border-radius: 20px;
    display: inline-block;
    width: 251px;
    padding: 6px 0px 6px 6px;
    margin-top: 10px;
}

.newsletter-subscribe{
    background: #9c70ecab;
    padding: 5px 25px;
    border-radius: 20px;
    margin-left: 29px;
}

.copyright-section{
    background: var(--dark);
    color: var(--light);
    font-size: 1.5rem;
    text-align: center;
    border-top: 1px solid #ebedea5d;
    padding: 20px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>> Styling for fashion wear.html <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.fashion-wear-nav{
    position: relative;
    margin-top: 79px;
    background: var(--dark);
}

.secondary-nav-links{
    justify-content: center;
}

.secondary-nav-links li a{
    color: var(--light);
}

.secondary-nav-links li a:hover{
    color: rgba(255, 255, 255, 0.700);
}

.sub-menu{
    background: var(--dark);
}

.banner{
    display: flex;
    justify-content: center;
}

.banner-container{
    height: 550px;
    width: 450px;
    margin: 10px;
}

.banner-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* >>>>>>>>>>>>>>>>>>>>>>>> Styling for Citylocalstore & CityBeautyStore <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.city-store-container{
    position: relative;
    height: 170px;
}

.location-container{
    position: relative;
    top: 100px;
    float: right;
    padding: 10px;
}

.input-box{
    display: inline-block;
    padding: 0px 10px;
}

.input-box input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 2rem;
    padding: 5px;
    width: 130px;
    border-bottom: 2px solid #0000008c;
}

.cityStore-nav{
    background: var(--dark);
    margin: 0 0 5vh 0;
}

.cityStore-main-container{
    display: flex;
}

.cityStore-container-item{
    height: 500px;
    width: 500px;
    background: var(--grey);
    margin: 30px;
}

.cityStore-container-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* >>>>>>>>>>>>>>>>>>>>>>>> Styling for handicraft.html <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.handicraft-main-container{
    height: max-content;
    align-items: flex-end;
}

.collection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection h1{
    font-size: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    margin: 50px 0px 20px 0px;
}

.collection-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0;
    width: 80%;
}

.collection-item{
    width: 400px;
    margin: 20px 60px;
}

.collection-item img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.collection-item h2{
    font-size: 1.8rem;
}

.collection-item p{
    font-size: 1.7rem;
    font-weight: 600;
    padding: 5px;
}

.collection-item a{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    border: 2px solid black;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.collection-item a:hover{
    background: var(--dark);
    color: var(--light);
}

.artistic-collection{
    background: var(--grey);
}

.last-section{
    display: flex;
    justify-content: center;
}

.last-section-container{
    margin: 20px;
}

.last-section-container1-3{
    display: flex;
    flex-direction: column;
}

.container2-item{
    position: relative;
    height: 740px;
    width: 450px;
    background: var(--dark);
    margin-top: 40px;
}

.container2-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container1-3-item{
    position: relative;
    height: 350px;
    width: 350px;
    background: var(--dark);
    margin: 20px;
}

.container1-3-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.last-section-container-detail{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0%;
    left: 0%;
    background: #000000c2;
    color: var(--light);
    font-size: 2rem;
    padding: 5px;
}

.last-section-container-detail p{
    font-size: 1.5rem;
    text-align: center;
}

.last-section-container-detail a{
    text-align: center;
    padding: 6px 10px;
    margin-top: 15px;
    background: var(--light);
}

.last-section-container-detail a:hover{
    background: var(--dark);
    color: var(--light);
}